.navbar-brand {
    background-color: lightgray;
    
}
body {
    background-image: url("https://sfwallpaper.com/images/backgrounds-white-7.jpg") ;
}

.container {
    background-color: white;
    margin: 4vw;
    width: 90vw;
}

h1 {
    padding: 1vw;
    color: teal;
}

form {
    padding: 1vw;
}

.containerPortfolio {
    background-color: white;
    margin: 4vw;
    width: max-content;
    padding: 1vw
}

.row {
    padding: 1vw;
}